@{
    ViewData["Title"] = "Последние посещения";
}
<table>
    <tr>
        <td>Страница</td>
        <td>Метод</td>
        <td>Дата</td>
        <td>Время</td>
    </tr>
    @foreach (WebGallery.Models.Statistics.Visit visit in Model)
    {
        <tr>
            <td>@visit.Page?.Path</td>
            <td>@visit.Method</td>
            <td>@visit.Date</td>
            <td>@visit.Time.Hour:@visit.Time.Minute:@visit.Time.Second</td>
        </tr>
    }
</table>